#*
#!*/


##*/


####!/

#!*/

#!*/*/

#!*/*/*/

#!*/*/*/*/

#!*/*/*/*/*/

#!*/*/*/*/*/*/

##!*/*/*/*/*/*/*/

Obr*/

alm*/





*.*


!*.zip


!*disk

!*.gpg
!*sums
!*SUMS

!*MD5*
!*md5*

!*SHA1*
!*sha1*

!*SHA256*
!*sha256*



!.*
!*.cfg

!*.sh
!*istory*
!*.cmd


!*.txt

########### 33052621.....
*.crash
lshw*
msinfo*


!*.log



ntuser.*
NTUSER.*
.Rproj.user


OLD/
#**/OLD/
