#*
#!*/


##*/


####!/

#!*/

#!*/*/

#!*/*/*/

#!*/*/*/*/

#!*/*/*/*/*/

#!*/*/*/*/*/*/

##!*/*/*/*/*/*/*/

Obr*/

alm*/





*.*


!*.zip


!*disk

!*.gpg
!*sums
!*SUMS

!*MD5*
!*md5*

!*SHA1*
!*sha1*

!*SHA256*
!*sha256*



!.*
!*.cfg
!*.json

!*.sh
!*istory*
!*.cmd

!*.ps1
!*.py
!*.js
!*.lua
!*.hs




!*.txt


!*.log


##planypoplach id
########### 33052621.....
##*.crash
##lshw*
##msinfo*

!*.crash
!lshw*
!msinfo*



ntuser.*
NTUSER.*
.Rproj.user


OLD/
#**/OLD/
